
.commen,
.content{
    width: 596px;
    overflow: hidden;
    margin: 0px auto;
}
.title{
    font-size: 24px;
    width: 100%;
    color: #000;
    line-height: 26px;
    margin-top: 34px;
}
.info{
    width: 100%;
}
.info>span{
    float: left;
    font-size:18px;
    color: #666666;
    line-height: 20px;
    margin-top: 18px;
}
.info>span:nth-child(3){
    margin-left: 12px;
}
.content{
    padding-bottom: 10px;
}
.content video{
    width: 100%;
    height: 280px;
}
.content span{
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #666;
}
.content span,
.content p,
.content img,
.content video{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}
.content p{
    font-size: 16px;
    line-height: 26px;
    color: #9a9a9a;
}